<div class="form-field">
    <label>@Messages.AddressNameLabel:</label>
    <div >
        <input @bind=ViewModel.Name/>
    </div>
</div>

<div class="form-field">
    <label>@Messages.AddressLine1Label:</label>
    <div>
        <input @bind=ViewModel.AddressLine1 />
    </div>
</div>

<div class="form-field">
    <label>@Messages.AddressLine2:</label>
    <div>
        <input @bind=ViewModel.AddressLine2 />
    </div>
</div>

<div class="form-field">
    <label>@Messages.AddressCityLabel:</label>
    <div>
        <input @bind=ViewModel.City />
    </div>
</div>

<div class="form-field">
    <label>@Messages.AddressRegionLabel:</label>
    <div>
        <input @bind=ViewModel.Region />
    </div>
</div>

<div class="form-field">
    <label>@Messages.AddressPostalCode:</label>
    <div>
        <input @bind=ViewModel.PostalCode />
    </div>
</div>