@page "/checkout"

<div class="main">
    <EditForm Model="ViewModel.AddressViewModel"
    OnSubmit="CheckSubmission">

    <div class="checkout-cols">
        <div>
            <h4>@Messages.ReviewOrderText</h4>
            <OrderReview></OrderReview>
        </div>
        <div>
            <h4>@Messages.AddressTitleLabel</h4>

                @if (!ViewModel.IsValidAddress)
                {
                    <div class="alert alert-danger">
                        @Messages.InvalidAddressText
                    </div>
                }
            <AddressEditor ViewModel="ViewModel.AddressViewModel"/>
        </div>
    </div>

    <button class="checkout-button btn btn-warning"
            
            disabled="@ViewModel.IsSubmitting">
        @Messages.PlaceOrderButtonText
    </button>

    </EditForm>
</div>